h1 {
        padding-top: 40px;
        color: rgb(0, 0, 0);
        font-family: 'Orbit', Orbit;
        font-weight: bold;
        font-size: 45px;
        text-align: center;
    }
    
 .submit {
		text-align: center;
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #FFA508, #FFD100);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Orbit', Orbit;
        margin-left: 35%;
        font-size: 16px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
       	.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }