@charset "UTF-8";

body {
    max-height: 1800px;
    overflow-y: auto;
}

.chat-room {
	display: flex;
	align-items: center;
}

.thumbnail {
	width: 50px;
	margin-right: 10px;
}

.chat-info {
	display: flex;
	flex-direction: column;
}

.chat-info h6 {
	margin: 0;
	/* 기본 마진 제거 */
	margin-bottom: 5px;
	/* 제목과 입력 요소 사이의 여백 조절 */
}

.wrap .chat {
	display: flex;
	align-items: flex-start;
	padding: 20px;
}

.wrap .chat .icon {
	position: relative;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #eee;
}

.wrap .chat .icon i {
	position: absolute;
	top: 10px;
	left: 50%;
	font-size: 2.5rem;
	color: #aaa;
	transform: translateX(-50%);
}

.wrap .chat .textbox {
	position: relative;
	display: inline-block;
	max-width: calc(100% - 70px);
	padding: 10px;
	margin-top: 7px;
	font-size: 13px;
	border-radius: 10px;
}

.wrap .chat .textbox::before {
	position: absolute;
	display: block;
	top: 0;
	font-size: 1.5rem;
}

.wrap .ch1 .textbox {
	margin-left: 20px;
	background-color: #ddd;
}

.wrap .ch1 .textbox::before {
	left: -15px;
	content: "◀";
	color: #ddd;
}

.wrap .ch2 {
	flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
	margin-right: 20px;
	background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
	right: -15px;
	content: "▶";
	color: #F9EB54;
}