<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/main :: setContent(~{this :: content})}">
	<th:block th:fragment="content">
		<html xmlns:th="thymeleaf.org">

		<head>
			<script src="https://code.jquery.com/jquery-3.6.0.js"
				integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
			<meta charset="UTF-8">
			<title>게시판</title>
			<script>
				$(document).ready(function () {
					$('.card').click(function () {
						var bno = $(this).attr('bno');
						location.href = "./read?bno=" + bno;
					});
				});
			</script>

			<style>
				.sell-link {
					display: block;
					text-align: center;
					margin-top: 20px;
					font-size: 16px;
					font-weight: bold;
					color: #3498db;
					text-decoration: none;
				}
			</style>

		</head>

		<div class="container-fluid bg-light py-3 mb-5 hero-header"></div>

		<div class="container">
			<div class="row g-4">
				<div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-delay="0.1s" th:each="board : ${boardList}"
					bno="${board.bno}">
					<!-- 첫 번째 서비스 카드 -->
					<div class="card service-item rounded pt-3" th:bno="${board.bno}">
						<div class="p-4">
							<h4 th:text="${board.title}"></h4>
							<p th:text="${board.id}"></p>
							<div class="card-title" th:utext="${board.content}"></div>
						</div>
					</div>
					<!-- ... -->
				</div>
			</div>
		</div>


		<a th:href="@{./writeForm}" class="sell-link wow fadeInUp" data-wow-delay="0.5s">글쓰기</a>
		</div>
	</th:block>
</th:block>

</html>