<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Read Form</title>

<style>
	table td, th {
		text-align: center;
	}
</style>
<script>
	function deleteFunc(bno){
		if(confirm('삭제하시겠습니까?')){
			location.href = 'delete?bno=' + bno;
		}
	}
	
	//리플 삭제
	function deleteReply(replynum, bno){
		if(confirm('삭제하시겠습니까?')) {
			location.href = '../reply/deleteReply?replynum=' 
					+ replynum + '&bno=' + bno;
		}
	}
	

</script>
</head>
<body>
<header>
		<h1>글 읽기</h1>
	</header>

	<table>
		<tr>
			<th>글번호</th>
			<td style="width: 80px;" th:text="${board.bno}"></td>
			<th>조회수</th>
			<td style="width: 50px;" th:text="${board.hits}"></td>
			<th>작성일</th>
			<td style="width: 150px;" th:text="${board.created_day}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td colspan="3" th:text="${board.title}"></td>
			<th>작성자</th>
			<td th:text="${board.id}"></td>
		</tr>
		<tr>
			<th colspan="6">내용</th>
		</tr>
		<tr>
			<td colspan="6" style="height: 250px;">
				<pre th:utext="${board.content}"></pre>
			</td>
		</tr>
		
		<div th:if="${#authentication.name == board.id}" style="text-align: center;">
		<a th:href="@{/board/update(bno=${board.bno})}">수정</a>
		<a th:href="|javascript:deleteFunc(${board.bno})|">삭제</a>
		</div>
	</table>
	
	<section>
			<!-- 리플 작성 폼 -->
			<form th:action="@{/reply/writeReply}" method="post">
				리플내용
				<input type="hidden" name="bno" th:value="${board.bno}">
				<input type="text" name="replytext" style="width: 500px;">
				<input type="submit" value="확인">
			</form>
			
			<!-- 리플 목록 출력 -->
			<table class="reply">
				<tr th:each="reply : ${replyList}">
					<td class="replyid" th:text="${reply.id}"></td>
					<td class="replytext" th:text="${reply.replytext}"></td>
					<td class="replydate" th:text="${reply.inputdate}"></td>
					<td class="white">
						<th:block th:if="${#authentication.name} == ${reply.id}">
							<a th:href="|javascript:deleteReply(${reply.replynum}, ${reply.bno})|">
								<img th:src="@{/image/icon_delete_24.png}">
							</a>
						</th:block>
					</td>
				</tr>
			</table>
		</section>
</body>
</html>