<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.lb.dao.BookBoardDAO">

	<insert id="registSell" parameterType="BookBoard">
		insert into BookBoard
		(
		bbno
		, id
		, address
		, title
		, content
		<if test="originalfile != null and savedfile != null">
			, originalfile
			, savedfile
		</if>
		, isbn
		, thumbnail
		, bookTitle
		, author
		, publisher
		, price
		, amount

		) values
		(
		bookBoard_seq.nextval
		, #{id}
		, #{address}
		, #{title}
		,
		#{content}
		<if test="originalfile != null and savedfile != null">
			, #{originalfile}
			, #{savedfile}
		</if>
		, #{isbn}
		, #{thumbnail}
		, #{bookTitle}
		, #{author}
		, #{publisher}
		,
		#{price}
		, #{amount}
		)

	</insert>

	<select id="showBoardAll" resultType="BookBoard"> SELECT b.bbno ,b.id,
		a.name, b.address, b.title, b.content, b.hits, b.category,
		b.originalfile,
		b.savedfile, b.recommend, b.created_day, b.isbn,
		b.thumbnail, b.bookTitle,
		b.author, b.publisher, b.price, b.amount FROM
		member a INNER JOIN
		bookBoard
		b ON a.id= b.id
	</select>

	<select id="showBoardList" parameterType="map"
		resultType="BookBoard">
		select * from bookBoard
		<if test="type != null and searchWord != null">
			<where>
				<if test="type == 'title'">
					upper(title) like '%' || upper(#{searchWord}) || '%'
				</if>
				<if test="type == 'contents'">
					upper(content) like '%'|| upper(#{searchWord}) || '%'
				</if>
				<if test="type == 'memberid'">
					id like '%' || #{searchWord} || '%'
				</if>
				<if test="type == 'all'">
					upper(title) like '%' || upper(#{searchWord}) || '%'
					or
					upper(content) like '%' || upper(#{searchWord}) || '%'
					or
					id like '%'
					|| #{searchWord} || '%'
				</if>
			</where>
		</if>
		order by bbno desc
	</select>

	<select id="countTotal" parameterType="map" resultType="int">
		select count(*) from BookBoard
		<if test="type != null and searchWord != null">
			<where>
				<if test="type == 'title'">
					upper(title) like '%' || upper(#{searchWord}) || '%'
				</if>
				<if test="type == 'contents'">
					upper(content) like '%'|| upper(#{searchWord}) || '%'
				</if>
				<if test="type == 'memberid'">
					id like '%' || #{searchWord} || '%'
				</if>
				<if test="type == 'all'">
					upper(title) like '%' || upper(#{searchWord}) || '%'
					or
					upper(content) like '%' || upper(#{searchWord}) || '%'
					or id like
					'%' || #{searchWord} || '%'
				</if>
			</where>
		</if>
	</select>

	<select id="readBoard" parameterType="int"
		resultType="BookBoard">
		select *
		from BookBoard
		where bbno = #{bbno}
	</select>

	<update id="updateHits" parameterType="int">
		update BookBoard
		set
		hits =
		hits + 1
		where
		bbno = #{boardnum}
	</update>

	<update id="updateBoard" parameterType="BookBoard">
		update BookBoard
		set
		title
		= #{title}
		, content = #{content}
		, address = #{address}
		, isbn = #{isbn}
		, thumbnail = #{thumbnail}
		, bookTitle = #{bookTitle}
		, author =
		#{author}
		, publisher = #{publisher}
		, price = #{price}
		, amount =
		#{amount}
		where
		bbno = #{bbno}
		and
		id = #{id}
	</update>

	<delete id="deleteBoard" parameterType="int">
		delete from BookBoard
		where
		bbno like #{bbno}
	</delete>

	<select id="checkLike" parameterType="map" resultType="int">
		select
		count(*)
		from like_board
		where id = #{id} and bno = #{boardnum}
	</select>

	<insert id="addLike" parameterType="map">
		insert into
		like_board(id,
		bno)
		values
		(#{id}, #{boardnum})
	</insert>

	<update id="upLike" parameterType="int">
		update
		BookBoard
		set
		recommend =
		recommend + 1
		where
		bbno = #{boardnum}
	</update>

	<delete id="deleteLike" parameterType="map">
		delete from like_board
		where
		id = #{id} and bno = #{boardnum}
	</delete>

	<update id="downLike" parameterType="int">
		update
		BookBoard
		set
		recommend
		= recommend - 1
		where
		bbno = #{boardnum}
	</update>

	<select id="selectCnt" parameterType="int" resultType="int">
		select
		recommend
		from
		BookBoard
		where
		bbno = #{boardnum}
	</select>


</mapper>