<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.lb.dao.ChatDAO">

	<select id="selectChatRoom" parameterType="ChatRoom"
		resultType="int">
		select count(*)
		from ChatRoom
		where id like #{id} and buno
		like #{buno} and bbno like #{bbno}
	</select>

	<insert id="createChatRoom" parameterType="ChatRoom">
		insert into ChatRoom(
		roomId,
		id,
		buno,
		bbno
		)
		values (
		CHATROOM_SEQ.nextval,
		#{id},
		#{buno},
		#{bbno}
		)
	</insert>

	<select id="findAllRooms" resultType="ChatRoom"
		parameterType="ChatRoom">
		select * from ChatRoom
		where id like #{id} and buno like #{buno} and bbno = #{bbno}
	</select>

	<select id="findRoomById" parameterType="int"
		resultType="ChatRoom">
		select * from ChatRoom where roomId = #{roomId}
	</select>

	<select id="findByMessage" parameterType="int"
		resultType="ChatMessage">
		select *
		from Chat_Messages
		where roomId = #{roomId}
		order by
		created_day asc
	</select>

	<insert id="saveMessage" parameterType="ChatMessage">
		INSERT INTO CHAT_MESSAGES
		(roomId, writer, message)
		VALUES (#{roomId}, #{writer}, #{message})
	</insert>


</mapper>