<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.team2.lb.dao.MemberDAO">
	
	<insert id="joinMember" parameterType="Member">
		insert into MEMBER
			(
				uno, id, pw, name, email, phone, address, address_detail
				<if test="originalfile != null and savedfile != null">
				, originalfile
				, savedfile
			</if>
			)
		values
			(
				member_seq.nextval, #{id}, #{pw}, #{name}, #{email}, #{phone}, #{address}, #{address_detail}
				<if test="originalfile != null and savedfile != null">
				, #{originalfile}
				, #{savedfile}
			</if>
			)
	</insert>
	
	<select id="selectUser" parameterType="String" resultType="Member">
		select * from member where id like #{userId}
	</select>
	
	<update id="updateUser" parameterType="Member">
		update 
			member
		set
			name = #{name}
			, email = #{email}
			, phone = #{phone}
			, address = #{address}
			, address_detail = #{address_detail}
			<if test="pw != null or pw != ''">
			, pw = #{pw}
			</if>
			<if test="originalfile != null and savedfile != null">
			, originalfile = #{originalfile}
			, savedfile = #{savedfile}
			</if>
		where
			id = #{id}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		delete member
		where
			id = #{id}
	</delete>
	
	<select id="searchId" parameterType="String" resultType="Member">
		select 
			* 
		from 
			member
		where 
			id like #{searchId}
	</select>
	
</mapper>
