<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.team2.lb.dao.MemberDAO">
	
	<insert id="joinMember" parameterType="Member">
		insert into MEMBER
			(
				uno, id, pw, name, email, phone, address, address_detail
			)
		values
			(
				member_seq.nextval, #{id}, #{pw}, #{name}, #{email}, #{phone}, #{address}, #{address_detail}
			)
		
	</insert>
	
</mapper>
