<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="utf-8" />
   <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>토스페이먼츠 샘플 프로젝트</title>
</head>

<body>
   <div class="wrapper w-100">
      <div class="flex-column align-center confirm-loading w-100 max-w-540">
         <div class="flex-column align-center">
            <img src="https://static.toss.im/lotties/loading-spot-apng.png" width="120" height="120"
               alt="로딩 이미지"></img>
            <h2 class="title text-center">결제 요청까지 성공했어요.</h2>
            <h4 class="text-center description">결제 승인하고 완료해보세요.</h4>
         </div>
         <div class="w-100">
            <button id="confirmPaymentButton" class="btn primary w-100">결제 승인하기</button>
         </div>
      </div>
      <div class="flex-column align-center confirm-success w-100 max-w-540" style="display: none;">
         <img src="https://static.toss.im/illusts/check-blue-spot-ending-frame.png" width="120" height="120"
            alt="체크 이미지"></img>
         <h2 class="title">결제를 완료했어요</h2>
         <div class="response-section w-100">
            <div class="flex justify-between">
               <span class="response-label">결제 금액</span>
               <span id="amount" class="response-text"></span>
            </div>
            <div class="flex justify-between">
               <span class="response-label">주문번호</span>
               <span id="orderId" class="response-text"></span>
            </div>
            <div class="flex justify-between">
               <span class="response-label">paymentKey</span>
               <span id="paymentKey" class="response-text"></span>
            </div>
         </div>

         <div class="w-100 button-group">
            <a class="btn primary" href='/my/payment-logs' target="_blank" rel="noreferrer noopener">테스트 결제내역
               확인하기</a>
            <div class="flex" style="gap: 16px;">
               <a class="btn w-100" href="https://developers.tosspayments.com/sandbox">다시 테스트하기</a>
               <a class="btn w-100" href="https://docs.tosspayments.com/guides/payment-widget/integration"
                  target="_blank" rel="noreferrer noopener">결제 연동 문서가기</a>
            </div>
         </div>
      </div>
   </div>

   <script type="module">
      import express from 'express';
      import cors from 'cors';
      import fetch from 'node-fetch';

      const urlParams = new URLSearchParams(window.location.search);
      const paymentKey = urlParams.get("paymentKey");
      const orderId = urlParams.get("orderId");
      const amount = urlParams.get("amount");

      const paymentKeyElement = document.getElementById("paymentKey");
      const orderIdElement = document.getElementById("orderId");
      const amountElement = document.getElementById("amount");

      paymentKeyElement.textContent = paymentKey;
      orderIdElement.textContent = orderId;
      amountElement.textContent = `${amount}원`;

      const confirmLoadingSection = document.querySelector('.confirm-loading');
      const confirmSuccessSection = document.querySelector('.confirm-success');

	
      const app = express();
      const port = 8000;

      app.use(cors());

      app.post('/sandbox/sandbox-dev/api/v1/payments/confirm', async (req, res) => {
         const url = 'https://developers.tosspayments.com/sandbox/sandbox-dev/api/v1/payments/confirm';
         const response = await fetch(url, {
            method: 'POST',
            headers: {
               'Content-Type': 'application/json',
            },
            body: JSON.stringify(req.body),
         });
         const data = await response.json();
         res.json(data);
      });

      app.listen(port, () => {
         console.log(`프록시 서버가 http://localhost:${port} 포트에서 실행 중입니다.`);
      });

      const confirmPaymentButton = document.getElementById('confirmPaymentButton');
      confirmPaymentButton.addEventListener('click', confirmPayment);
      
   </script>
</body>

</html>