<!--
<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	-->
<!-- 부트스트랩 CSS 파일 포함 -->
<!--
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>부트스트랩 모달 창 예제</title>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:src="@{/js/jquery-3.6.0.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	-->
<!--
	
	-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/main :: setContent(~{this :: content})}">
	<th:block th:fragment="content">
		</head>

		<div class="container-fluid bg-light py-5 mb-5 hero-header"></div>

		<div id="sell">

			<h1>판매 등록</h1>

			<form th:action="@{/bookBoard/registSell}" method="post">
				<table>
					<tr>
						<th>상품 이미지</th>
						<td><img src="">이미지 자리</td>
					</tr>
					<tr>
						<th>판매글 제목</th>
						<td><input type="text" name="title" placeholder="제목을 입력해주세요."></td>
					</tr>
					<tr>
						<th>책 등록</th>
						<td>
							<input type="text" id="bookName" placeholder="책 제목이나 ISBN을 입력해주세요.">
							<button type="button" id="searchBook" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#exampleModal">
								책 검색
							</button>

						</td>
					</tr>
					<tr>
						<th>선택된 책</th>
						<td>
							<div id="selectedBookThumbnail">
								<img src="">
							</div>
							<p id="selectedBook" name="selectedBook"></p>

							<input type="hidden" id="selectedIsbn" name="isbn">
							<input type="hidden" id="selectedThumbnail" name="thumbnail">
							<input type="hidden" id="selectedTitle" name="bookTitle">
							<input type="hidden" id="selectedAuthor" name="author">
							<input type="hidden" id="selectedPublisher" name="publisher">

						</td>
					</tr>
					<tr>
						<th>거래지역</th>
						<td>
							<button type="button">내 위치</button>
							<button type="button" id="addressSearchBtn" class="btn btn-primary">주소 검색</button>
							<button type="button">최근 지역</button>
							<div>
								<input type="text" id="address_kakao" name="address" placeholder="주소"
									readonly="readonly">
							</div>
						</td>
					</tr>
					<tr>
						<th>상품상태</th>
						<td>
							<div id="condition">
								<label>
									<input type="radio" name="condition" checked>새 상품 (미사용)
									<span>사용하지 않은 새 상품</span>
								</label>
							</div>
							<div>
								<label>
									<input type="radio" name="condition">새 상품 (미사용)
									<span>사용하지 않은 새 상품</span>
								</label>
							</div>
							<div>
								<label>
									<input type="radio" name="condition">사용감 없음
									<span>사용은 했지만 눈에 띄는 흔적이나 얼룩이 없음</span>
								</label>
							</div>
							<div>
								<label>
									<input type="radio" name="condition">사용감 적음
									<span>눈에 띄는 흔적이나 얼룩이 약간 있음</span>
								</label>
							</div>
							<div>
								<label>
									<input type="radio" name="condition">사용감 많음
									<span>눈에 띄는 흔적이나 얼룩이 많이 있음</span>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<th>교환</th>
						<td>
							<label>
								<input type="radio" name="s" value="change" checked>불가
							</label>
							<label>
								<input type="radio" name="s" value="change">가능
							</label>
						</td>
					</tr>
					<tr>
						<th>가격</th>
						<td>
							<input type="text" name="price" placeholder="가격을 입력해주세요.">
						</td>
					</tr>
					<tr>
						<th>설명</th>
						<td>
							<input type="textarea" name="content" placeholder="상품설명을 입력해주세요.">
						</td>
					</tr>
					<tr>
						<th>수량</th>
						<td>
							<input type="number" name="amount" value="1">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="등록">
						</td>
					</tr>
				</table>
			</form>

			<!-- 모달 시작 -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">도서 검색</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<table id="bookTable" class="table">
								<thead>
									<tr>
										<th></th>
										<th>ISBN</th>
										<th>사진</th>
										<th>제목</th>
										<th>저자</th>
										<th>출판사</th>
										<th>책 정보</th>
									</tr>
								</thead>
								<tbody>
									<!-- 여기에 검색 결과가 동적으로 추가될 것임 -->
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" id="choice" class="btn btn-primary">선택하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>


	</th:block>
</th:block>

</html>