<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>
<body>
	<h1>Welcome Home</h1>
	<h3  sec:authorize="isAuthenticated()"><span th:text="${#authentication.name}"></span>님 환영합니다.</h3>
	<ul>
		<li sec:authorize="not isAuthenticated()"><a th:href="@{/member/join}" th:text="회원가입"></a></li>
		<li sec:authorize="not isAuthenticated()"><a th:href="@{/member/loginForm}" th:text="로그인"></a></li>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}" th:text="로그아웃"></a></li>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/member/update}" th:text="회원정보수정"></a></li>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/member/delete}" th:text="회원탈퇴"></a></li>
	</ul>

</body>	
</html>