<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/main :: setContent(~{this :: content})}">
	<th:block th:fragment="content">

		<style>
			@media (min-width: 576px) {
				.hero-header {
					height: 100vh;
					/* 100% of the viewport height */
				}

				.container-xxl py-5 {
					height: 100vh;
					/* 100% of the viewport height */
				}
			}
		</style>

		<div class="py-5 mb-5 hero-header" style="background-image: url(./img/homeImg2.jpg); background-size: cover; display: flex; align-items: center; justify-content: center; text-align: center;
            background-color: rgba(255, 255, 255, 0.3);">
			<div class="container py-5">

				<!-- Add the falling leaves div -->
				<div class="falling-leaves"
					style="animation-duration: 6s; background: url('./img/maple.png') no-repeat; width: 50%; height: 50%;">
				</div>
				<div class="row justify-content-center py-5">
					<div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
						<h1 class="display-3 mb-3 animated slideInDown"
							style="color: skyblue; font-weight: bold; font-family: 'Noto Serif Kr', serif; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); ">
							책과 책을 연결하다</h1>
						<h4 id="hiddenText" class="display-3 mb-3"
							style="color: darkseagreen; font-weight: bold; font-family: 'Noto Serif Kr', serif; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); display: none;">

							당신의 책을 만나보세요!</h4>
						<p class="fs-4 text-white mb-4 animated slideInDown"></p>
						<div class="position-relative w-75 mx-auto animated slideInDown">
							<!--
                    <input id="address" class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5"
                        type="text" placeholder="Eg: Thailand">
                    -->
							<!--
                    <button id="submit" type="button"
                        class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2"
                        style="margin-top: 7px;">Search</button>
                    -->
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- Service Start -->
		<div class="container-xxl py-5"
			style=" display: flex; align-items: center; justify-content: center; text-align: center;">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-dark px-3">많은 이용자들이 선택하는</h6>
					<h1 class="mb-5">독서 공유 서비스</h1>
				</div>
				<div class="row g-4">
					<div id="cardFirst" class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
						<!-- 첫 번째 서비스 카드 -->
						<div class="service-item rounded pt-3">
							<div class="p-4">
								<i class="fa fa-3x fa-map text-dark mb-4"></i>
								<h5>내 주변에서 책 공유하기</h5>
								<p>내 주변에 있는 책을 판매하거나 교환할 수 있습니다.</p>
							</div>
						</div>
						<!-- ... -->
					</div>
					<div id="cardTwo" class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
						<!-- 두 번째 서비스 카드 -->
						<div class="service-item rounded pt-3">
							<div class="p-4">
								<i class="fa fa-3x fa-book text-dark mb-4"></i>
								<h5>책 리뷰</h5>
								<p>도서들의 리뷰를 한 눈에 볼 수 있습니다.</p>
							</div>
						</div>
						<!-- ... -->
					</div>
					<div id="cardThird" class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
						<!-- 세 번째 서비스 카드 -->
						<div class="service-item rounded pt-3">
							<div class="p-4">
								<i class="fa fa-3x fa-globe text-dark mb-4"></i>
								<h5>간단한 판매 등록</h5>
								<p>ISBN을 등록하게 간단하게 판매 등록을 할 수 있습니다.</p>
							</div>
						</div>
						<!-- ... -->
					</div>
					<div id="cardFour" class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
						<!-- 네 번째 서비스 카드 -->
						<div class="service-item rounded pt-3">
							<div class="p-4">
								<i class="fa fa-3x fa-comment text-dark mb-4"></i>
								<h5>메시징 서비스</h5>
								<p>도서 거래 하는 사람을 위한 채팅 시스템 제공</p>
							</div>
						</div>
						<!-- ... -->
					</div>
				</div>
			</div>
		</div>
		<!-- Service End -->

		<!-- Popular book Start -->
		<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container">
				<div class="text-center">
					<h6 class="section-title bg-white text-center text-dark px-3">인기 판매 도서</h6>
					<h1 class="mb-5">사용자들이 가장 많이 조회한 도서</h1>
				</div>
				<div class="owl-carousel testimonial-carousel position-relative">
					<div class="testimonial-item bg-white text-center border p-4" th:each="board : ${bookList}">
						<img class="bg-white shadow p-1 mx-auto mb-3" th:src="${board.thumbnail}"
							style="width: 50%; height: 50%;">
						<h5 class="mb-0" th:text="${board.title}"></h5>
						<p th:text="${board.bookTitle}"></p>
						<p th:text="${board.price}"></p>
						<p th:text="${board.content}"></p>
						<div class="btn-group">
							<a th:href="@{/bookBoard/read(boardnum=${board.bbno})}"
								class="btn btn-outline-danger btn-sm mx-1">내용 더 보기</a>
							<a th:if="${#authentication.name != board.id}" th:href="@{/payment/toss}"
								class="btn btn-outline-dark btn-sm mx-1">구매하기</a>
							<form th:if="${#authentication.name != board.id}" action="../chat/chatRoom" method="post">
								<input type="hidden" name="bbno" th:value="${board.bbno}">
								<input type="hidden" name="boardId" th:value="${board.id}">
								<input type="submit" class="btn btn-outline-warning btn-sm mx-1" value="채팅하기">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->

		<!-- Popular reivew Start -->
		<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container">
				<div class="text-center">
					<h6 class="section-title bg-white text-center text-dark px-3">이 달의 리뷰</h6>
					<h1 class="mb-5">가장 있기 있는 리뷰</h1>
				</div>
				<div class="owl-carousel testimonial-carousel position-relative">
					<div class="testimonial-item bg-white text-center border p-4" th:each="board : ${reviewList}">
						<h5 class="mb-0" th:text="${board.id}"></h5>
						<p th:text="${board.title}"></p>
						<pre th:utext="${board.content}"></pre>
						<a th:href="@{/board/read(bno=${board.bno})}" class="btn btn-outline-danger btn-sm mx-1">내용
							더
							보기</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Popular reivew End -->
		<script th:src="@{/js/home.js}"></script>

	</th:block>

</th:block>

</html>