<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" th:href="@{/css/loginForm.css}">
</head>
<body>


	<section class="content">
		<div>
		<img th:src="@{/image/cupbook.jpg}" alt="로그인이미지" 
		style='position: relative; width: 1000px; height: 100%;  overflow: hidden; will-change: transform;'></div>
		<div class="login-container">
			<form th:action="@{/member/login}" method="post">
		ID: <input type="text" name="id">		<br>
		PW: <input type="password" name="pw" autoComplete="off">	<br>
		<input type="submit" value="로그인"> 
	</form>
		</div>
	
	</section>
</body>
</html>