<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" th:href="@{/css/loginForm.css}">
</head>
<body>

	<h2>로그인</h2>
	<section class="content">
		<img th:src="@{/image/img1.png}" alt="로그인이미지" width="500" height="1000">
		<div class="login-container">
			<form th:action="@{/member/login}" method="post">
		ID: <input type="text" name="id">		<br>
		PW: <input type="password" name="pw" autoComplete="off">	<br>
		<input type="submit" value="로그인"> 
	</form>
		</div>
	
	</section>
</body>
</html>