<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
	<th:block th:fragment="content">
		<div class="container">
			<div>
				<ul th:each="room : ${list}">
					<li><a th:href="@{/chat/rooms(roomId=${room.roomId})}">[[${room.roomName}]]</a></li>
				</ul>
			</div>
		</div>
		<form th:action="@{/chat/createRoom}" method="post">
			<input type="text" name="name" class="form-control">
			<button class="btn btn-secondary">개설하기</button>
		</form>
		
		<form th:action="@{/chat/room(bno=1,memberid=,id=)}"></form>
		<script th:inline="javascript">
			$(document).ready(function () {

				var roomName =/* [[${roomName}]]*/ '';

				$(".btn-create").on("click", function (e) {
					e.preventDefault();

					var name = $("input[name='name']").val();

					if (name == "")
						alert("Please write the name.")
					else
						$("form").submit();
				});

			});
		</script>
	</th:block>
</th:block>

</html>