<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.js"></script>
<th:block th:replace="~{/layout/main :: setContent(~{this :: content})}">

	<th:block th:fragment="content">

		<link th:href="@{/css/chat.css}" rel="stylesheet">
		<link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

		<div class="container-fluid bg-light py-3 mb-5 hero-header"></div>
		<div class="container-xxl" style="padding-left: 10%; padding-right: 10%;">

			<div class="d-flex" id="wrapper">
				<!-- Sidebar -->
				<div class="bg-light border-right" id="sidebar-wrapper" style="width: 30%;">
					<div class="sidebar-heading" style="text-align: center;">채팅목록</div>
					<div class="list-group list-group-flush" id="list"></div>
				</div>
				<!-- /#sidebar-wrapper -->
				<div class="container-fluid" style="width: 70%;">
					<div class="container">
						<div id="beforeArea" class="col" th:each="chatMessage : ${chatMessage}"
							style="margin-bottom: 10px;">
						</div>
						<div class="wrap">
							<div id="messageContainer" class="chat-container">
								<!-- 메시지를 여기에 렌더링합니다. -->
							</div>
							<div id="msgArea" class="chat-container"></div>
						</div>
						<div class="col-12">
							<div class="input-group mb-3" id="search">
								<input type="text" id="msg" class="form-control">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6"></div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">

			var sockJs = new SockJS("/lb/stomp/chat");
			var stomp = Stomp.over(sockJs);

			$(document).ready(function () {

				var chatMessage = /*[[${chatMessage}]]*/[];
				var bbno = /*[[${room?.bbno}]]*/ '';
				var roomId = /*[[${room?.roomId}]]*/ '';
				var name = /*[[${member?.name}]]*/ '';
				var username = /*[[${#authentication.principal.username}]]*/ '';

				stomp.connect({}, function () {
					console.log("STOMP Connection");

					chatMessage.forEach(renderMessage);

					stomp.subscribe("/sub/layout/main/" + username, function (chat, chatmessage) {
						var content = JSON.parse(chat.body);
						content.forEach(function (alarmItem) {
							if (alarmItem.prefix == 'chat') {
								var createdDate = new Date(alarmItem.created_day);
								var timeDiff = calculateTimeDifference(createdDate);
								alarmList.push({message: timeDiff + ' 전에 새로운 채팅이 도착했습니다.'});
							}
						});
						displayAlarms();
						alarmList = [];
					});

					stomp.subscribe("/sub/layout/main/num" + username, function (chat, num) {
						var num = JSON.parse(chat.body);
						if (num == 0) {
							$('#alarmArea').hide();
						} else {
							$('#alarmArea').show();
						}
						$('#alarmNum').text(num);
					});

					stomp.subscribe("/sub/chat/room/" + roomId, function (chat, chatmessage) {
						var content = JSON.parse(chat.body);

						var writer = content.writer;
						var realwriter = name;
						var message = content.message;

						var today = new Date();

						var formattedTime = ('0' + today.getHours()).slice(-2) + ':' + ('0' + today.getMinutes()).slice(-2);
						var bubbleClass = (writer === username) ? 'ch2' : 'ch1';

						var messageContainer = $("#messageContainer");
						var iconClass = (bubbleClass === 'ch1') ? 'fas fa-user' : 'fas fa-user';

						var str = "<div class='chat " + bubbleClass + "'>";
						str += "<h6>" + writer + "</h6>"
						str += "<div class='icon'><i class='fa-solid " + iconClass + "'></i></div>";
						str += "<div class='textbox'>";
						str += "<div class='message-content'>" + message + "</div>";
						str += "<div class='message-time'>" + formattedTime + "</div>";
						str += "</div>";
						str += "</div>";

						$("#msgArea").append(str);
					});

					stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}));
					$("#msg").focus();
				});

				$("#button-send").off("click").on("click", function (e) {

					var msg = document.getElementById("msg");
					stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
					msg.value = '';
				});

				$('#msg').on('keydown', function (event) {
					if (event.key === 'Enter') {
						var msg = document.getElementById("msg");
						stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
						msg.value = '';
					}
				});

				function renderMessage(content) {
					var writer = content.writer;
					var message = content.message;
					var created_day = content.created_day;
					var date = new Date(created_day);
					var formattedTime = date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
					var bubbleClass = (writer === username) ? 'ch2' : 'ch1';
					var messageContainer = $("#messageContainer");
					var iconClass = (bubbleClass === 'ch1') ? 'fas fa-user' : 'fas fa-user'; // Change this to the appropriate icon class.
					var str = "<div class='chat " + bubbleClass + "'>";

					str += "<h6>" + writer + "</h6>"
					str += "<div class='icon'><i class='fa-solid " + iconClass + "'></i></div>";
					str += "<div class='textbox'>";
					str += "<div class='message-content'>" + message + "</div>";
					str += "<div class='message-time'>" + formattedTime + "</div>";
					str += "</div>";
					str += "</div>";

					messageContainer.append(str);
				}
			});

			var roomList = /*[[${roomList}]]*/[];
			var username = /*[[${#authentication.principal.username}]]*/ '';

			var str = '';

			if (roomList) {
				roomList.forEach(function (room) {
					str += '<div class="chat-room d-flex align-items-center" id="chatroomList">';

					if (room.id == username) {
						var buttonText = room.board_id;
					} else {
						var buttonText = room.id;
					}

					str += '<div class="d-flex align-items-center">';
					str += '<img class="thumbnail" src="' + room.thumbnail + '" style="margin-right: 10px;">'; // Adjust margin as needed
					str += '<div>';
					str += '<h6>' + buttonText + '</h6>';
					str += '<form action="../chat/BoardchatRoom" method="post" class="chat-info">';
					str += '<input type="hidden" name="bbno" value=' + room.bbno + '>';
					str += '<input type="hidden" name="roomId" value=' + room.roomId + '>';
					str += '<input type="submit" class="list-group-item list-group-item-action bg-light" value="' + room.title + '">';
					str += '</input>';
					str += '</form>';
					str += '</div>';
					str += '</div>';
					str += '</div>';
				});
			}

			$("#menu-toggle").click(function (e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
			$("#list").append(str);
		</script>
	</th:block>
</th:block>

</html>