<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
	<th:block th:fragment="content">

		<div class="container">
			<div class="col-6">
				<h1>[[${room.roomName}]]</h1>
			</div>
			<div id="beforeArea" class="col" th:each="chatMessage : ${chatMessage}" style="margin-bottom: 10px;">
				<!--
				<div th:if="${chatMessage.writer eq #authentication.principal.username}" class='col-6'
					style="margin-bottom: 50px;">
					<b class='alert alert-secondary' th:text="${chatMessage.writer + ' : ' + chatMessage.message}"></b>
				</div>
				<div th:unless="${chatMessage.writer eq #authentication.principal.username}" class='col-6'
					style="margin-bottom: 50px;">
					<b class='alert alert-warning' th:text="${chatMessage.writer + ' : ' + chatMessage.message}"></b>
				</div>
				-->
			</div>

			<div id="msgArea" class="col"></div>
			<div class="col-6">
				<div class="input-group mb-3">
					<input type="text" id="msg" class="form-control">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6"></div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script th:inline="javascript">
			$(document).ready(function () {


				var chatMessage = /*[[${chatMessage}]]*/[];

				console.log(chatMessage);

				//var roomName = [[${roomName}]];

				var roomName = /*[[${room.roomName}]]*/ '';
				var roomId = /*[[${room.roomId}]]*/ '';
				var username = /*[[${#authentication.principal.username}]]*/ '';

				console.log(roomName + ", " + roomId + ", " + username);

				var sockJs = new SockJS("/lb/stomp/chat");
				//1. SockJS를 내부에 들고있는 stomp를 내어줌
				var stomp = Stomp.over(sockJs);

				//2. connection이 맺어지면 실행
				stomp.connect({}, function () {
					console.log("STOMP Connection");

					if (chatMessage) {
						chatMessage.forEach(function (chat) {
							var writer = chat.writer; // Corrected variable name
							var message = chat.message; // Corrected variable name
							var created_day = chat.created_day;
							// created_day를 JavaScript Date 객체로 변환
							var date = new Date(created_day);

							// 시간을 "시:분" 형식으로 포맷
							var formattedTime = date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
							var str = '';

							if (writer === username) {
								str = "<div class='col-6'>";
								str += "<div class='alert alert-secondary'>";
								str += "<b>" + writer + " : " + message + "| 보낸 시간 :" + formattedTime + "</b>";
								str += "</div></div>";
							} else {
								str = "<div class='col-6'>";
								str += "<div class='alert alert-warning'>";
								str += "<b>" + writer + " : " + message + "| 보낸 시간 :" + formattedTime +  "</b>";
								str += "</div></div>";
							}

							$("#beforeArea").append(str);
						});
					}


					//4. subscribe(path, callback)으로 메세지를 받을 수 있음
					stomp.subscribe("/sub/chat/room/" + roomId, function (chat, chatmessage) {
						var content = JSON.parse(chat.body);

						var writer = content.writer;
						var message = content.message; // Define 'message' here
						var str = '';

						if (writer === username) {
							str = "<div class='col-6'>";
							str += "<div class='alert alert-secondary'>";
							str += "<b>" + writer + " : " + message + "</b>";
							str += "</div></div>";
						}
						else {
							str = "<div class='col-6'>";
							str += "<div class='alert alert-warning'>";
							str += "<b>" + writer + " : " + message + "</b>";
							str += "</div></div>";
						}

						$("#msgArea").append(str);
					});

					//3. send(path, header, message)로 메세지를 보낼 수 있음
					stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
				});

				$("#button-send").on("click", function (e) {
					var msg = document.getElementById("msg");

					console.log(username + ":" + msg.value);
					stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
					msg.value = '';
				});
			});
		</script>
	</th:block>
</th:block>

</html>