<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:src="@{/js/jquery-3.6.0.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.js"></script>


<th:block th:replace="~{/layout/main :: setContent(~{this :: content})}">

	<link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
	<div th:fragment="content">

		<style>
			.wrap .chat {
				display: flex;
				align-items: flex-start;
				padding: 20px;
			}

			.wrap .chat .icon {
				position: relative;
				overflow: hidden;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: #eee;
			}

			.wrap .chat .icon i {
				position: absolute;
				top: 10px;
				left: 50%;
				font-size: 2.5rem;
				color: #aaa;
				transform: translateX(-50%);
			}

			.wrap .chat .textbox {
				position: relative;
				display: inline-block;
				max-width: calc(100% - 70px);
				padding: 10px;
				margin-top: 7px;
				font-size: 13px;
				border-radius: 10px;
			}

			.wrap .chat .textbox::before {
				position: absolute;
				display: block;
				top: 0;
				font-size: 1.5rem;
			}

			.wrap .ch1 .textbox {
				margin-left: 20px;
				background-color: #ddd;
			}

			.wrap .ch1 .textbox::before {
				left: -15px;
				content: "◀";
				color: #ddd;
			}

			.wrap .ch2 {
				flex-direction: row-reverse;
			}

			.wrap .ch2 .textbox {
				margin-right: 20px;
				background-color: #F9EB54;
			}

			.wrap .ch2 .textbox::before {
				right: -15px;
				content: "▶";
				color: #F9EB54;
			}
		</style>

		<div class="container-fluid bg-light py-3 mb-5 hero-header"></div>

		<div class="d-flex" id="wrapper">

			<!-- Sidebar -->
			<th:block th:if="${#authentication.principal.username eq room.buno}">
				<div class="bg-light border-right" id="sidebar-wrapper">
					<div class="sidebar-heading" style="text-align: center;">채팅목록</div>
					<div class="list-group list-group-flush" id="list"></div>
				</div>
			</th:block>
			<!-- /#sidebar-wrapper -->

			<div class="container-fluid">
				<div class="container">
					<div id="beforeArea" class="col" th:each="chatMessage : ${chatMessage}"
						style="margin-bottom: 10px;">
					</div>
					<div class="wrap">
						<div id="messageContainer" class="chat-container">
							<!-- 메시지를 여기에 렌더링합니다. -->
						</div>
						<div id="msgArea" class="chat-container"></div>
					</div>
					<div class="col-12">
						<div class="input-group mb-3" id="search">
							<input type="text" id="msg" class="form-control">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6"></div>
			</div>
		</div>




		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script th:inline="javascript">
			$(document).ready(function () {
				var chatMessage = /*[[${chatMessage}]]*/[];
				var roomId = /*[[${room.roomId}]]*/ '';
				var username = /*[[${#authentication.principal.username}]]*/ '';
				var name = /*[[${room.name}]]*/ '';

				var sockJs = new SockJS("/lb/stomp/chat");
				var stomp = Stomp.over(sockJs);

				stomp.connect({}, function () {
					console.log("STOMP Connection");

					chatMessage.forEach(renderMessage);

					var str2 = '';

					var today = new Date();

					var formattedTime = ('0' + today.getHours()).slice(-2) + ':' + ('0' + today.getMinutes()).slice(-2);

					var writer = username;

					var bubbleClass = (writer === username) ? 'ch2' : 'ch1';

					var messageContainer = $("#messageContainer");
					var iconClass = (bubbleClass === 'ch1') ? 'fa-user' : 'fa-user';

					var str2 = "<div class='chat " + bubbleClass + "'>";
					str2 += "<div class='icon'><i class='fa-solid " + iconClass + "'></i></div>";
					str2 += "<div class='textbox'>";
					str2 += "<div class='message-content'>" + writer + ": " + "님이 접속했습니다." + "</div>";
					str2 += "<div class='message-time'>" + formattedTime + "</div>";
					str2 += "</div>";
					str2 += "</div>";

					$("#msgArea").append(str2);

					stomp.subscribe("/sub/chat/room/" + roomId, function (chat, chatmessage) {
						var content = JSON.parse(chat.body);
						console.log("이름", name);
						console.log(content);
						console.log(content.writer)

						var writer = content.writer;
						var realwriter = name;
						var message = content.message;

						// Move this line inside the subscribe callback to get the current time when a new message arrives
						var today = new Date();

						var formattedTime = ('0' + today.getHours()).slice(-2) + ':' + ('0' + today.getMinutes()).slice(-2);
						var bubbleClass = (writer === username) ? 'ch2' : 'ch1';

						var messageContainer = $("#messageContainer");
						var iconClass = (bubbleClass === 'ch1') ? 'fa-user' : 'fa-user';

						var str = "<div class='chat " + bubbleClass + "'>";
						str += "<div class='icon'><i class='fa-solid " + iconClass + "'></i></div>";
						str += "<div class='textbox'>";
						str += "<div class='message-content'>" + writer + ": " + message + "</div>";
						str += "<div class='message-time'>" + formattedTime + "</div>";
						str += "</div>";
						str += "</div>";

						$("#msgArea").append(str);
					});

					stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}));
					$("#msg").focus();
				});

				$("#button-send").off("click").on("click", function (e) {
					var msg = document.getElementById("msg");

					console.log(username + ":" + msg.value);
					stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
					msg.value = '';
				});
			
				$('#msg').on('keydown', function (event) {
					if (event.key === 'Enter') {
						var msg = document.getElementById("msg");

						console.log(username + ":" + msg.value);
						stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
						msg.value = '';
					}
				});

				function renderMessage(content) {
					var writer = content.writer;
					var message = content.message;
					var created_day = content.created_day;
					var date = new Date(created_day);
					var formattedTime = date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
					var bubbleClass = (writer === username) ? 'ch2' : 'ch1';

					var messageContainer = $("#messageContainer");
					var iconClass = (bubbleClass === 'ch1') ? 'fa-user' : 'fa-user'; // Change this to the appropriate icon class.

					var str = "<div class='chat " + bubbleClass + "'>";
					str += "<div class='icon'><i class='fa-solid " + iconClass + "'></i></div>";
					str += "<div class='textbox'>";
					str += "<div class='message-content'>" + message + "</div>";
					str += "<div class='message-time'>" + formattedTime + "</div>";
					str += "</div>";
					str += "</div>";

					messageContainer.append(str);
				}



			});
		</script>

		<!-- ... 이후 코드 ... -->

		<script th:inline="javascript">

			var roomList = /*[[${roomList}]]*/[];

			console.log("roomList :", roomList);

			var str = '';
			if (roomList) {
				roomList.forEach(function (room) {
					str += '<div>';
					str += '<form action="../chat/BoardchatRoom" method="post">';
					str += '<input type="hidden" name="bbno" value=' + room.bbno + '>';
					str += '<input type="hidden" name="roomId" value=' + room.roomId + '>';
					str += '<input type="submit" class="list-group-item list-group-item-action bg-light" value="' + room.id + '님과 채팅하기"></input>';
					str += '</form>';
					str += '</div>';
				});
			}



			$("#menu-toggle").click(function (e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
			$("#list").append(str);
		</script>


</th:block>
</th:block>

</html>